.modal .container.addcredit p {
  margin-left: 0;
}

.modal .container.addcredit input {
  width: calc(100% - 3rem);
  margin-bottom: 0rem;
}

.linkLists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-height: 10rem;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.linkLists .linkItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dfe2fe;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  padding-right: 0.1rem;
}

.linkItemActions {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.linkItemActions i {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  font-size: 1.2rem;
}

.linkItemActions i:hover {
  background: #c5c7e0;
}

.modalStatus {
  margin: 0rem;

  font-weight: 600;
  color: transparent;
  transition: color 300ms;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.modalStatus.statusShow {
  margin: 1rem 0rem;
  margin-top: 0.2rem;
  color: #e2606b;
}

.modalStatus.statusShow i {
  font-weight: normal;
  font-size: 1.3rem;
}

.modalBottomBar {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 3rem;
}

.modalBottomBar .reset {
  color: #5060f7;
  background: #d7dcff;
}
