@keyframes showPanel {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.loadBar {
  position: absolute;
  width: 30rem;
  background: #5060f7;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.226);
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem;
  padding: 1rem;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: showPanel 200ms linear 0ms 1 forwards;
  transition: background 300ms;
}

.loadBar .closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.1rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}

.loadBar .closeBtn:hover {
  background: white;
  color: #5060f7;
}

.loadBar.err {
  background: rgb(228, 47, 47);
}

.loadBar p {
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.85rem;
  text-transform: uppercase;
  opacity: 1;
}

.loadBar input {
  width: calc(100% - 2.5rem);
  background: rgba(255, 255, 255, 0.13);
  letter-spacing: 1px;
  color: white;
}

.loadBar input::placeholder {
  color: rgba(255, 255, 255, 0.445);
}

.loadBar input:focus {
  border-color: rgba(255, 255, 255, 0.445);
}

.loadContn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loadContn button {
  background: transparent;
  transition: background 300ms, color 300ms;
}

.loadContn button:hover {
  color: #5060f7;
  background: rgb(255, 255, 255);
}

.bigButton {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 2px solid rgba(255, 255, 255, 0.164);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.863);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: color 300ms, background 300ms, transform 300ms;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 1rem;
}

.bigButton.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.bigButton i {
  font-size: 5rem;
  font-weight: normal;
}

.bigButton:hover {
  background: white;
  color: #5060f7;
}

.bigButton:active {
  transform: scale(0.9);
}

.loadBar .progressBar {
  background: rgba(255, 255, 255, 0.247);
  width: 100%;
  border-radius: 100px;
  height: 10px;
  overflow: hidden;
}

.loadBar .progressBar div {
  height: 100%;
  background: white;
  border-radius: 100px;
  transition: width 1000ms ease;
}

.loadItem.err {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.loadItem.err i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.959);
}

.loadItem.err p {
  margin-bottom: 0.8rem;
}

.loadItem.err .errMsg {
  text-transform: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin-bottom: 0;
}
