.Work {
  width: 100%;
  max-width: var(--max-width);
  margin-bottom: 12rem;
}

hr {
  opacity: 0.5;
  margin-bottom: 1rem;
}

Input {
  accent-color: #5159fc;
}

input[type="text"],
textarea {
  background: #dfe1ff;
  border: 3px solid transparent;
  border-radius: 5px;
  min-width: 15rem;
  width: 100%;
  outline: none;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  transition: border 300ms;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #7a7fdf;
}

input[type="text"]:focus,
textarea:focus {
  border: 3px solid rgba(43, 43, 43, 0.171);
}

input[type="color"] {
  appearance: auto;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  padding: 1px 3px;
  background: transparent;
}

label,
input:not([type="text"]) {
  cursor: pointer;
}

label {
  margin-left: 0.4rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

h3:last-child {
  margin-bottom: 0rem;
}

p {
  font-size: 1rem;
  opacity: 0.5;
  font-weight: 500;
  margin-bottom: 1rem;
}

.loadingBar {
  position: relative;
  background: rgba(43, 43, 43, 0.158);
  height: 1rem;
  border-radius: 100px;
  padding: 5px;
  overflow: hidden;
}

.loading {
  height: 100%;
  border-radius: 100px;
  background: linear-gradient(135deg, #8bc6ec, #9599e2);
  transition: width 1000ms ease;
}

.loadingMsg {
  font-weight: 800;
  margin-top: 1rem;
}

.hint {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;

  aspect-ratio: 2 / 1;
}

.hint::after {
  content: "HINT";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  padding-bottom: 2rem;
  color: white;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 0.7rem;
  opacity: 0.8;
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0.849), transparent);
}

.hint img {
  width: 300px;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

.config {
  background: #eaeaff;
  border-radius: 5px;
}

.config .description {
  font-weight: 600;
  margin-left: 0;
  line-height: 1.5rem;
  opacity: 0.8;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.downloadBar {
  position: sticky;
  bottom: 0;
  padding: 1rem 1rem;
  background: white;
  display: grid;
  place-content: center;
  width: 100%;
  box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.089);
}

.downloadBar .wrapper {
  max-width: var(--max-width);
  width: calc(100vw - 3.001rem);
  padding: 0rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.configMinItem {
  cursor: pointer;
  user-select: none;
  padding: 1rem;
  margin: 1rem 0rem;
  border-radius: 5px;
  background: white;
  transition: background 300ms;
}

.configMinItem.show {
  color: white;
  background: #5159fc;
}

@keyframes fadeReveal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.configMaxItem {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
  animation: fadeReveal 500ms ease 0ms forwards;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.configMinItem:hover {
  background: rgba(0, 0, 0, 0.068);
}

.show:hover {
  filter: contrast(1.2);
}

.configMinItem.show:hover {
  background: rgba(55, 65, 255, 0.753);
}
